@font-face {
  font-family: 'StandardCT-Bold';
  src: url('http://newswordy.com/assets/webfonts/eot/style_156823.eot');
  src: url('http://newswordy.com/assets/webfonts/eot/style_156823.eot?#iefix') format('embedded-opentype'),
       url('http://newswordy.com/assets/webfonts/woff/style_156823.woff') format('woff'),
       url('http://newswordy.com/assets/webfonts/ttf/style_156823.ttf') format('truetype'),
       url('http://newswordy.com/assets/webfonts/svg/style_156823.svg#StandardCT-Bold') format('svg'); 
}

body {
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serf;
  font-weight:normal;
  font-size:16px;
  line-height:1.4;
  color: #222;
}
h1 {
  font-family:'StandardCT-Bold';
  font-weight:normal !important;
  margin-bottom: 50px;
  font-size: 775%;
  letter-spacing: -5px;
  line-height: 88%;
  color: #333;
}
a {
  text-decoration: none;
}
a, a:hover, a:active, a:visited {
  color: #33CCFF;
}
p {
  font-size: 120%;
  line-height: 22px;
  margin-top: 18px;
  margin-bottom: 18px;
}
div#container {
  margin-left: 40px;
  margin-top: 20px;
  padding: 20px;
  width: 800px;
}

div#main {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Layout */
.blue { color: #33CCFF;}
.red { color: #FF4400;}
