<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <meta name="description" content="Crowdfunding github issues." />
  <link rel="stylesheet" type="text/css" href="stylesheets/github-markdown.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <article class="markdown-body">
    <header class="logo">
      <h1><span class="blue">issue</span><span class="red">hunter</span></h1>
      <h2>Open Source Crowdfunding on the Ethereum Blockchain</h2>
    </header>

    {{ content }}

    <footer>
      <p>
        Follow <a href="https://twitter.com/issuehunter">@issuehunter</a><br/>
        Source <a href="https://github.com/issuehunter">github.com/issuehunter</a>
      </p>
    </footer>
  </article>
</body>
</html>
